/* =======================================
   FONTES E RESET
======================================= */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300..900&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

/* =======================================
   MENU LATERAL
======================================= */
.headerLeft {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
  z-index: 10;
}

.headerLeft li span {
  color: #333;
  font-weight: 500;
}

.headerLeft li.ativo {
  border-right: 3px solid #21593B;
}

.headerLeft li.ativo span {
  color: #21593B;
  font-weight: bold;
}

/* =======================================
   LOGO E TEXTO SUPERIOR
======================================= */
.logoV3T {
  text-align: center;
  font-size: 18px;
  padding: 20px 0 130px 0;
}

.logoV3T img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
}

/* =======================================
   ITENS DO MENU
======================================= */
.buttonDashboard,
.buttonSensores,
.buttonPerfil,
.buttonConfiguracoes,
.buttonLogout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #a3aed0;
  padding-left: 20px;
  margin-bottom: 25px;
  cursor: pointer;
}

.headerLeft a {
  text-decoration: none;
}

.headerLeft a:hover {
  color: #232020;
}

.buttonDashboard img,
.buttonSensores img,
.buttonPerfil img,
.buttonConfiguracoes img,
.buttonLogout img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

/* =======================================
   CONTEÚDO PRINCIPAL
======================================= */
.pageDashboard {
  background-color: #f4f7fe;
  margin-left: 250px;
  padding: 15px 20px 20px 20px;
  position: relative;
  z-index: 1;
}

/* =======================================
   BARRA SUPERIOR DE CONTROLE
======================================= */
.pageDashboard{
  margin-bottom: 25px;
}
.pageDashboard .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  margin: 20px 40px 15px 40px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.pageDashboard .title li {
  margin-right: 20px;
}

.pageDashboard .title li span {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

#selectSensor {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.pageDashboard .title li button {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  background-color: #21593B;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.pageDashboard .title li button:hover {
  transform: scale(1.1);
  background-color: #00BF63;
}

/*DIV Cabeçalho Histórico*/
#div-historico {
  background-color: #fff;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  margin-left: 250px;
}
table{
  background-color: #fafafa;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: bold;
  border-radius: 30px;
  list-style: none;
  color: white;
  font-size: 20px;
  width: 80%;
  margin-left: 300px;
  align-items: center;
}
tr{
  background-color: #f4f7fe;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 250px;
  padding: 5px;
  border-radius: 30px;
  margin-bottom: 10px;
  
}
#cabecalho-table{
  background-color: #21593B;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  gap: 230px;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 10px;
  justify-self: center;
}
.dados-registro{
  color: black;
  
}
#dados_reservatorio{
  margin-left: 320px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #21593B;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  width: 75%;
  border-radius: 30px;
  margin-bottom: 20px;
}
#dados_reservatorio img{
  width: 200px;
}
.info-reservatorio{
  display: flex;
  flex-direction: column;
}
.cabecalho-historico {
  background-color: #21593B;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 150px;
  font-weight: bold;
  border-radius: 30px;
  list-style: none;
  color: white;
  font-size: 20px;
  width: 80%;
  margin-left: 300px;
}
td{
  color: black;
  width: 10%;
  text-align: center;
  padding: 5px;
}
.dado_horas{
  width: 70%;
}
.critico{
  color: red;
}
.moderado{
  color: orange;
}
.dados-sensor {
  background-color: #f4f7fe;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 150px;
  font-weight: bold;
  border-radius: 30px;
  list-style: none;
  width: 82%;
  margin-left: 300px;
}
#msg-padrao{
  margin-left: 850px;
  margin-top: 500px;
  color: #dce4f8;
  font-weight: 900;
  font-size: 40px;
}