
/*Importando fonte Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Padronizando body*/
body{
    width: 100%;
    margin: 0px;
    font-family: 'Montserrat', sans-serif; 
}
/* Estilização do Header*/
.header {
    width: 100%;
    height: 100px;
    margin-top: 0px;
    display: flex;
    background-color: white;
    align-items: center;
    position: fixed;
    top: 0;
    transition: 0.3s;
}
.header ul {
    list-style: none;
    display: flex;
}

.header li {
    padding: 10px 20px;
}

.div-img {
    width: 20%;
    justify-items: center;
}

.div-nav {
    width: 80%;
    justify-items: end;
    align-items: center;
    text-align: center;
    margin-right: 30px;
}

.btn-login {
    font-weight: normal;
    color: white;
    background-color: #21593B;
    border-radius: 20px;
    transition: all 0.2s ease;
}

.btn-login:hover {
    transform: scale(1.1);
    background-color: #00BF63;
}

/*Hover sublinhando apenas os direcionadores*/
a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:nth-of-type(1):hover {
    text-decoration: underline;
}

a:nth-of-type(2):hover {
    text-decoration: underline;
}

a:nth-of-type(3):hover {
    text-decoration: underline;
}

a:nth-of-type(4):hover {
    text-decoration: underline;
}

/*Fim header*/
#div-banner{
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    margin-top: 40px;
    background-image: url(../imgs/sobre-banner.png);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    border-bottom:30px ;
}
#titulo-sobre{
    font-weight: 900;
    font-size: 100px;
    align-self: flex-end;
    margin-right: 80px;
    color: white;
}
#div-text{
    width: 850px;
    padding: 18px;
    background-color: white;
    align-self: flex-end;
    justify-self: center;
    margin-right: 90px;
    margin-bottom: 45px;
    border-radius: 30px;
    font-size: 25px;
    text-align: justify;
}
#div_valores{
    display: flex;
    justify-content: center;
}
.div-valores{
    margin-top: 15px;
    width: 95%;
    height: 500px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
.div-texto-valores h2{
    color: #21593B;
    font-size: 60px;
    text-align: center;
}
.div-texto-valores p{
    align-self: center;
    width: 75%;
    color: black;
    font-size: 25px;
}
.div-texto-valores {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#div_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap:300px
    
}
#div_buttons button{
    background: none;
    border: none;
}
#div_buttons button img{
    background: none;  
}
#div_buttons button:hover{
    scale: 110%;
    cursor: pointer;
}
#div-devs{
    justify-self: center;
    border-radius: 30px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding-top: 40px;
    padding-bottom: 40px;
}
#h2-titulo{
 font-size: 60px;
 color: #21593B;
 text-align: center;
}
.estrutura-fotos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#div-fotos{
    justify-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 150px;
    width: 60%;
    justify-content: center;
}
.card-foto{
    background-color: #D9D9D9;
    width: 250px;
    height: 345px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-foto img{
    width: 85%;
    align-self: center;
    border-radius: 30px;
    
}
#nome-dev{
    font-size: 10px;
}
#div_idCarrossel{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.point{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: black;
}
.pointDestaque{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: black;
}

footer{
    margin-top: 15px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 100px;
    font-size: 15px;
    text-align: left;
}

#img-footer{
    width: 90px;
    height: 75px;
    margin-left: 20px;
    margin-top: 0px;
}

#img-home-footer{
    align-self: center;
}

footer ul{
    list-style: none;
    text-align: left;
    justify-content: left;
}
footer li:hover{
    scale: 105%;
    text-decoration: underline;
    border-radius: 20px;
    font-weight: normal;
}

#marca-footer{
    font-size: 10px;
    justify-self: center;
}

footer a {
    font-weight: normal;
    justify-self: left;
}
footer a:hover {
    color: #66a07a;
    border-radius: 20px;
}
div3-footer{
    display: flex;
    justify-content: flex-start;
}