/*Importando fonte Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Padronizando body*/
body {
    width: 100%;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.Janela {
    display: flex;
    width: 100%;
}

.headerLeft {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

#imgLogo {
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

#imgLogo img {
    height: auto;
    width: 224px;
}

#buttonDashBoard a,
#buttonSensores,
#buttonPerfil,
#buttonConfiguracoes,
#buttonLogout a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    gap: 8px;
}

#buttonDashBoard img,
#buttonLogout img {
    height: 24px;
    width: 24px;
    gap: 8px;
}

.pageDashBoard {
    position: relative;
    left: 20%;
    height: 100%;
    width: 80%;
    background-color: #f4f7fe;
    overflow: auto;
}

.headerTop {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin-left: 40px;
}

.kpis {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 20px;

}

.kpis div {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    gap: 10px;
    transition: transform 0.3s ease;

}

.kpis div:hover {
    transform: scale(1.03);
}

.kpis img {
    height: auto;
    width: 50px;
}

.kpis p {
    font-size: 13px;
    color: #555;
    margin: 0;
}

.kpis span {
    font-size: 18px;
    font-weight: 600;
    color: #3b3b3b;
}

.graphics {
    max-width: 700px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

#graphicTemperatura {
    box-sizing: border-box;
    height: 350px;
    width: 700px;
}

#graphicUmidade {
    box-sizing: border-box;
    height: 350px;
    width: 700px;
}

#graphicAlertas {
    box-sizing: border-box;
    height: 350px;
    width: 700px;
}