/*Importando fonte Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Padronizando body*/
body{
    width: 100%;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;  
}

/*Código para o header*/
.header {
    width: 100%;
    height: 95px;
    margin: 0px;
    display: flex;
    background-color: white;
    align-items: center;
    position: fixed;
    transition: 0.3s;
}
.header ul {
    list-style: none;
    display: flex;
}

.header li {
    padding: 10px 20px;
}

.div-img {
    width: 20%;
    justify-items: center;
}

.div-nav {
    width: 80%;
    justify-items: end;
    align-items: center;
    text-align: center;
    margin-right: 30px;
}

.btn-login {
    font-weight: normal;
    color: white;
    background-color: #21593B;
    border-radius: 20px;
    transition: all 0.2s ease;
}

.btn-login:hover {
    transform: scale(1.1);
    background-color: #00BF63;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:nth-of-type(1):hover {
    text-decoration: underline;
}

a:nth-of-type(2):hover {
    text-decoration: underline;
}

a:nth-of-type(3):hover {
    text-decoration: underline;
}

a:nth-of-type(4):hover {
    text-decoration: underline;
}
.banner {
    width: 100vw; 
    height: 23vh; 
}
.banner img {
    display: block;
    width: 100%; 
    height: 150%; 
    object-fit: cover; 
}
main{
    display: flex;
    flex-direction: column;
}
.sectionContato{
    height: 420px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 2rem;
}
.divTextoContato h2{
    color: #21593B;
    font-size: 50px;
    text-align: left;
    padding-left: 3rem;
    font-family: 'Montserrat', sans-serif;
}
.divTextoContato p{
    margin-top: 20px;    
    align-self: center;
    text-align: left;
    width: 80%;
    color: #21593B;
    font-size: 30px;
    padding-left: 3rem;
    font-family: 'Montserrat', sans-serif;
}
.sectionContato img{
    padding-right: 5rem;
    width: 340px;
    
}
.sectionForm{
    background-color: #66A07A;
    border-radius: 10px;
    margin: 0 10% 10% 10%;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    box-shadow: 20px 20px 20px #211b15;
    
    

}
.sectionForm h2,h3 {
    color: #FFFFFFFF;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    text-align: left;
    font-size: 40px;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    

}
.formEmpresa{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-left: 3.5rem;
    
}

.validacaoEmpresa{
 display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-left: 3rem;
    font-family: 'Montserrat', sans-serif;
    
}

.formEmpresa input[type= "text"]{
    border: 2px solid #FFFFFFFF;
    border-radius: 10px;
    margin: 7px;
    height: 45px;
    width: 95%;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

input::placeholder{
    padding-left: 1rem;
}

#formEndereco{
    align-items: center;
    border-radius: 10px;
}

.iptEndereco{
display: flex;
align-items: center;
padding-left: 3.5rem;

}

#formEndereco input[type= "text"]{
    border: 2px solid #FFFFFFFF;
    border-radius: 10px;
    margin: 15px 5px 15px 5px;
    height: 45px;
    width: 92%;
    font-size: 1rem;

}

button{
    background-color: #004D2D;
    padding: 0.8rem;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    border-radius: 40px;
    cursor: pointer; 
    width: 40%;
    margin: 0 0 3rem 2rem;
    font-family: 'Montserrat', sans-serif;
    border: none;
    transition: all 0.2s ease;
}
button:hover{
    background-color: #00BF63;
    transform: scale(1.02);
}
#botao{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.validacaoEndereco{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
}

.validacaoEndereco .msgEndereco{
    padding-left: 3rem;
}

/* Código para o footer */
footer{
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 15px;
    padding-right: 100px;

}

#img-footer{
    width: 90px;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
}

footer ul{
    list-style: none;
}
footer li:hover{
    scale: 105%;
    text-decoration: underline;
    border-radius: 20px;
}

#marca-footer{
    font-size: 15px;
    justify-self: center;
    padding-top: 10px;
}