/* Importando fonte Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== HEADER ===== */
.header {
    width: 100%;
    height: 100px;
    margin: 0px;
    display: flex;
    background-color: white;
    align-items: center;
    position: fixed;
    transition: 0.3s;
}
.header ul {
    list-style: none;
    display: flex;
}

.header li {
    padding: 10px 20px;
}

.div-img {
    width: 20%;
    justify-items: center;
}

.div-nav {
    width: 80%;
    justify-items: end;
    align-items: center;
    text-align: center;
    margin-right: 30px;
}

.btn-login {
    font-weight: normal;
    color: white;
    background-color: #21593B;
    border-radius: 20px;
    transition: all 0.2s ease;
}

.btn-login:hover {
    transform: scale(1.1);
    background-color: #00BF63;
}

/*Hover sublinhando apenas os direcionadores*/
a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:nth-of-type(1):hover {
    text-decoration: underline;
}

a:nth-of-type(2):hover {
    text-decoration: underline;
}

a:nth-of-type(3):hover {
    text-decoration: underline;
}

a:nth-of-type(4):hover {
    text-decoration: underline;
}


/* ===== BODY ===== */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    overflow-x: hidden;
    width: auto;
}

/* ===== FUNDO ===== */
.fundo_cadastro {
    min-height: 120vh;
    background-image: url(../imgs/fundo_cadastro.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* ===== QUADRADO COM SOMBRA ===== */
.quadrado_com_sombra {
    background-color: #F5F5F5;
    border-radius: 12px;
    box-shadow: 15px 15px 9px rgba(0, 0, 0, 0.5);
    width: 500px;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

/* ===== TEXTOS ===== */
.titulo {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
}

.subtitulo {
    font-weight: 600;
    font-size: 0.80rem;
    margin-bottom: 25px;
}

.subtitulo.center {
    text-align: center;
}

.subtitulo a {
    color: #66A07A;
    font-weight: 700;
}

.subtitulo a:hover {
    color: #00BF63;
}

/* ===== MENSAGENS DE ERRO - VALIDAÇÕES ===== */
.msg_erro{
  font-size: 1rem;
  color: rgb(198, 5, 5);
  text-align: left;
  padding: 0px 20px 20px;
}

/* ===== INPUTS ===== */

.msg_informacao{
  font-size: 1rem;
  color: rgb(56, 48, 48);
  text-align: left;
  padding: 10px;
}

input {
    width: 100%;
    padding: 14px;
    margin-bottom: 14px;
    border: none;
    box-shadow: 0 0 0 2px #21593B inset;
    border-radius: 20px;
    background-color: #fff;
    font-size: 0.95rem;
    transition: 0.9s;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #00BF63 inset;
}

.div_senha {
    position: relative;
    width: 100%;
}

.div_senha input {
    width: 100%;
    padding: 14px 40px 14px 14px; /* espaço à direita pro ícone */
    margin-bottom: 14px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    font-size: 1rem;
    transition: 0.3s;
}

.div_senha input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #00BF63 inset;
}

.olho-senha {
    position: absolute;
    right: 15px;
    top: 40%; /* posiciona o topo no meio */
    transform: translateY(-50%); /* ajusta pra ficar centralizado */
    width: 22px;
    cursor: pointer; /* muda o mouse para formato de mao */
    opacity: 0.7;
    transition: 0.2s;
}

.olho-senha:hover {
    opacity: 1;
}


/* ===== BOTÃO ===== */
.botao {
    width: 100%;
    padding: 12px;
    margin: 0px 0px 20px 0px;
    border: none;
    border-radius: 20px;
    background-color: #21593B;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.botao:hover {
    background-color: #00BF63;
    transform: scale(1.03);
}