/* =======================================
   FONTES E RESET
======================================= */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300..900&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

/* =======================================
   MENU LATERAL
======================================= */
.headerLeft {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
    z-index: 10;
}

.headerLeft li span {
    color: #a3aed0;
    font-weight: 500;
}

.headerLeft li.ativo {
    border-right: 3px solid #21593B;
}

.headerLeft li.ativo span {
    color: #21593B;
    font-weight: bold;
}

/* =======================================
   LOGO E TEXTO SUPERIOR
======================================= */
.logoV3T {
    text-align: center;
    font-size: 18px;
    padding: 30px 0 130px 0;
}

.logoV3T img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
}

.logoV3T li span {
    color: #333;
}

/* =======================================
   ITENS DO MENU
======================================= */
.buttonDashboard,
.buttonSensores,
.buttonPerfil,
.buttonConfiguracoes,
.buttonLogout {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    margin-bottom: 25px;
    cursor: pointer;
}

.headerLeft a {
    text-decoration: none;
}

.headerLeft span:hover {
    color: #232020;
}

.buttonDashboard img,
.buttonSensores img,
.buttonPerfil img,
.buttonConfiguracoes img,
.buttonLogout img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

/* =======================================
   CONTEÚDO PRINCIPAL
======================================= */
.pageDashboard {
    background-color: #f4f7fe;
    margin-left: 250px;
    padding: 15px 20px 20px 20px;
    position: relative;
    z-index: 1;
}

/* =======================================
   BARRA SUPERIOR DE CONTROLE
======================================= */
.pageDashboard .title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: 20px 40px 15px 40px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.pageDashboard .title li {
    margin-right: 20px;
}

.pageDashboard .title li span {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* =======================================
   KPIS (CARDS DE INDICADORES)
======================================= */
.kpiContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0 40px;
}

.kpiCard {
    display: flex;
    align-items: center;
    flex: 1 1 20%;
    min-width: 200px;
    height: 40px;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.05);
}

.kpiCard:hover {
    transform: scale(0.9);
}

.kpiIcon {
    width: 60px;
    margin-right: 20px;
}

.kpiContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.kpiText {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

.kpiTitle {
    font-size: 16px;
    color: #555;
}

.kpiStatusIdeal {
    font-size: 22px;
    font-weight: bold;
    color: #21593B;
}

.kpiStatusModerado {
    font-size: 22px;
    font-weight: bold;
    color: #eecd27;
}


.kpiValue {
    font-size: 26px;
    font-weight: bold;
    color: #333;
}

/* =======================================
   GRÁFICOS E ALERTAS
======================================= */
.graphics {
    padding: 0 40px;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
}

.graficosDuplos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

#graphicTemperatura,
#graphicUmidade,
#graphicAlertas {
    background-color: #fff;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    position: relative;
    box-sizing: border-box;
}

#graphicTemperatura .kpiIcon,
#graphicUmidade .kpiIcon,
#graphicAlertas .kpiIcon {
    position: absolute;
    top: 5px;
    right: 5px;
}

#graphicTemperatura>span,
#graphicUmidade>span,
#graphicAlertas>span {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

#chartTemperatura,
#chartUmidade,
#chartAlertas {
    margin-top: 30px;
}

#graphicTemperatura,
#graphicUmidade {
    flex: 1;
    min-width: 0;
}

#graphicTemperatura canvas,
#graphicUmidade canvas {
    width: 100% !important;
    height: 100% !important;
}

canvas {
    width: 100%;
    display: block;
}

.descricao {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 6px;
    margin: 0 65px 5px;
}


.limites {
    text-align: end;
}

#traco {
    background-color: #004830;
    width: 20px;
    height: 4px;
    border-radius: 30px;
}

#tracoRegistrosTemp,
#tracoRegistrosUmid {
    background-color: #66A07A;
    width: 20px;
    height: 4px;
    border-radius: 30px;
}