/* Importando fonte Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== HEADER ===== */
header {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0 50px;
}

#div-img img {
    width: 90px;
    height: auto;
}

header ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header li {
    font-weight: bold;
    padding: 10px 20px;
}

a {
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    text-decoration: underline;
}

#bt-login {
    font-weight: normal;
    color: white;
    background-color: #21593B;
    border-radius: 20px;
    padding: 8px 20px;
}

#bt-login:hover {
    background-color: #00BF63;
    transform: scale(1.05);
}

/* ===== BODY ===== */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    overflow-x: hidden;
}

/* ===== FUNDO ===== */
.fundo_cadastro {
    min-height: 100vh;
    background-image: url(../imgs/fundo_cadastro.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

/* ===== QUADRADO COM SOMBRA ===== */
.quadrado_com_sombra {
    background-color: #F5F5F5;
    border-radius: 12px;
    box-shadow: 15px 15px 9px rgba(0, 0, 0, 0.5);
    width: 480px;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ===== TEXTOS ===== */
.titulo {
    font-weight: 900;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
}

.subtitulo {
    font-weight: 600;
    font-size: 0.80rem;
    margin-bottom: 25px;
}

.subtitulo.center {
    text-align: center;
}

.subtitulo a {
    color: #66A07A;
    font-weight: 700;
}

.subtitulo a:hover {
    color: #00BF63;
}

/* ===== INPUTS ===== */
input {
    width: 100%;
    padding: 14px;
    margin-bottom: 14px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    font-size: 0.95rem;
    transition: 0.9s;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #21593B inset;
}

.div_senha {
    position: relative;
    width: 100%;
}

.div_senha input {
    width: 100%;
    padding: 14px 40px 14px 14px; /* espaço à direita pro ícone */
    margin-bottom: 14px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    font-size: 0.95rem;
    transition: 0.3s;
}

.div_senha input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #21593B inset;
}

.olho-senha {
    position: absolute;
    right: 15px;
    top: 40%; /* posiciona o topo no meio */
    transform: translateY(-50%); /* ajusta pra ficar centralizado */
    width: 22px;
    cursor: pointer; /* muda o mouse para formato de mao */
    opacity: 0.7;
    transition: 0.2s;
}

.olho-senha:hover {
    opacity: 1;
}


/* ===== BOTÃO ===== */
.botao {
    width: 100%;
    padding: 12px;
    margin: 0px 0px 20px 0px;
    border: none;
    border-radius: 20px;
    background-color: #21593B;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.botao:hover {
    background-color: #00BF63;
    transform: scale(1.03);
}