
/*Importando fonte Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Padronizando body*/
body{
    width: 100%;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;  
}
/*Código para o header*/
header {
    width: 100%;
    height: 100px;
    margin: 0px;
    display: flex;
    background-color: white;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

}

header ul {
    list-style: none;
    display: flex;
}

header li {
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#div-img {
    width: 20%;
    justify-items: center;
}


#div-menu {

    width: 80%;
    justify-items: end;
    align-items: center;
    text-align: center;
    margin-right: 30px;
}

#li-login {
    font-weight: normal;
    color: white;
    background-color: #21593B;
    border-radius: 20px;
}

#li-login:hover {
    transform: scale(1.1);
    background-color: #00BF63;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    scale: 95%;
}
/*Fim header*/
#div-banner{
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    margin-top: 40px;
    background-image: url(../imgs/sobre-banner.png);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}
#titulo-sobre{
    font-weight: 900;
    font-size: 100px;
    align-self: flex-end;
    margin-right: 80px;
    color: white;
}
#div-text{
    width: 800px;
    padding: 40px;
    background-color: white;
    align-self: flex-end;
    justify-self: center;
    margin-right: 45px;

    border-radius: 30px;
    border-top-left-radius: 30px;
    font-size: 25px;
    text-align: justify;
}
#div_valores{
    display: flex;
    justify-content: center;
}
.div-valores{
    margin-top: 40px;
    width: 95%;
    height: 650px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
.div-texto-valores h2{
    color: #21593B;
    font-size: 60px;
    text-align: center;
}
.div-texto-valores p{
    align-self: center;
    width: 70%;
    color: black;
   
    font-size: 35px;
}
.div-texto-valores {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#div_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10rem;
}
#div_buttons button{
    background: none;
    border: none;
}
#div_buttons button img{
    background: none;  
}
#div_buttons button:hover{
    scale: 110%;
    cursor: pointer;
}
#div-devs{
    justify-self: center;
    border-radius: 30px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding-top: 40px;
    padding-bottom: 40px;
}
#h2-titulo{
 font-size: 60px;
 color: #21593B;
 text-align: center;
}
.estrutura-fotos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#div-fotos{
    justify-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 150px;
    width: 60%;
    justify-content: center;
}
.card-foto{
    background-color: #D9D9D9;
    width: 250px;
    height: 345px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-foto img{
    width: 85%;
    align-self: center;
    border-radius: 30px;
    
}
#nome-dev{
    font-size: 10px;
}

/* Código para o footer */
footer{
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 15px;
    padding-right: 100px;
}

#img-footer{
    width: 90px;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
}

footer ul{
    list-style: none;
}
footer li:hover{
    scale: 105%;
    text-decoration: underline;
    border-radius: 20px;
}

#marca-footer{
    font-size: 15px;
    justify-self: center;
    padding-top: 10px;
}