
/*Importando fonte Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Padronizando body*/
body{
    width: 100%;
    margin: 0px;
    font-family: 'Montserrat', sans-serif; 
}

/* Estilização do Header*/
.header {
    width: 100%;
    height: 95px;
    margin: 0px;
    display: flex;
    background-color: white;
    align-items: center;
    position: fixed;
    transition: 0.3s;
}
.header ul {
    list-style: none;
    display: flex;
}

.header li {
    padding: 10px 20px;
}

.div-img {
    width: 20%;
    justify-items: center;
}

.div-nav {
    width: 80%;
    justify-items: end;
    align-items: center;
    text-align: center;
    margin-right: 30px;
}

.btn-login {
    font-weight: normal;
    color: white;
    background-color: #21593B;
    border-radius: 20px;
    transition: all 0.2s ease;
}

.btn-login:hover {
    transform: scale(1.1);
    background-color: #00BF63;
}

/*Hover sublinhando apenas os direcionadores*/
a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:nth-of-type(1):hover {
    text-decoration: underline;
}

a:nth-of-type(2):hover {
    text-decoration: underline;
}

a:nth-of-type(3):hover {
    text-decoration: underline;
}

a:nth-of-type(4):hover {
    text-decoration: underline;
}

/* Estilização da apresentação da página*/
.div-inicial {
    background-color: #21593B;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
}

.div-inicial img {
    height: 150px;
}

.div-inicial-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-inicial h2 {
    font-size: 35px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.div-inicial h4 {
    font-size: 20px;
    width: 70%;
}

.div-ipt-msg {
    display: flex;
}

/*Estilização do simulador*/
.div-simulador {
    width: 29%;
    height: 550px;
    border-radius: 15px; 
    margin: 60px 150px;
    color: #004D2D;
    

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.div-simulador h1 {
    font-weight: 800;
    font-size: 27px; 
    margin: 0;
}

.div-simulador p {
    font-size: 20px;
    margin: 0;
}

.div-simulador input {
    width: 100%;
    height: 40px;
    padding: 0 14px;
    border-radius: 20px;
    border: 2px solid #004D2D;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;

}

.div-input {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100% 
}

button {
    width: 300px;
    height: 60px;
    font-size: 19px;
    border-radius: 20px;
    border: none;
    background-color: #004D2D;
    color: white;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    background-color: #00BF63;
}

/* Estilização da mensagem de retorno ao cliente */
.div-msg {
    width: 45%;
    height: 650px;
    border-radius: 15px; 
    margin: 60px auto;
    color: white;
    background-color: #66a07a;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    box-shadow: 15px 15px 9px rgba(0, 0, 0, 0.5);
    padding: 30px;
    font-size: 22px;
    box-sizing: border-box;
}

.div-msg p {
    margin: 0;
}

.descricao {
    font-size: 18px;
    margin: 0;
}

.valores {
    font-size: 27px;
    font-weight: 600;
}

.num-valores {
    font-size: 35px;
    font-weight: 600;
}

.div-msg-final {
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
}

.div-msg-final p {
    display: flex;
    font-size: 20px;
    align-items: center;
}

.div-msg-final img {
    height: 40px;
    margin: 0;
    padding: 0;
}    

.div-msg a {
    color: #004D2D;
    padding: 0 2px;
    text-decoration: underline;
}

.info-refs {
    color: #004D2D;
    font-size: 17px; 
}

.div-btn {
   display: flex;
   justify-content: center;
   width: 100%;
}

.destaque {
    color: #004D2D;
    font-weight: 600;
}

.asterisco {
    color: #004D2D;
}

/* Estilização do Footer */
footer{
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 100px;
    font-size: 15px;
}

#img-footer{
    width: 90px;
    height: 75px;
    margin-left: 20px;
    margin-top: 0px;
}

#img-home-footer{
    align-self: center;
}

footer ul{
    list-style: none;
}
footer li:hover{
    scale: 105%;
    text-decoration: underline;
    border-radius: 20px;
    font-weight: normal;
}

#marca-footer{
    font-size: 10px;
    justify-self: center;
}

footer a {
    font-weight: normal;
}