/*Importando fonte Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Padronizando body*/
body {
    width: 100%;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

/*Código para o header*/
.header {
    width: 100%;
    height: 100px;
    margin: 0px;
    display: flex;
    background-color: white;
    align-items: center;
    position: fixed;
    transition: 0.3s;
}
.header ul {
    list-style: none;
    display: flex;
}

.header li {
    padding: 10px 20px;
}

.div-img {
    width: 20%;
    justify-items: center;
}

.div-nav {
    width: 80%;
    justify-items: end;
    align-items: center;
    text-align: center;
    margin-right: 30px;
}

.btn-login {
    font-weight: normal;
    color: white;
    background-color: #21593B;
    border-radius: 20px;
    transition: all 0.2s ease;
}

.btn-login:hover {
    transform: scale(1.1);
    background-color: #00BF63;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:nth-of-type(1):hover {
    text-decoration: underline;
}

a:nth-of-type(2):hover {
    text-decoration: underline;
}

a:nth-of-type(3):hover {
    text-decoration: underline;
}

a:nth-of-type(4):hover {
    text-decoration: underline;
}


/* Código para o banner abaixo do header */
#div-banner img {
    width: 99vw;
    /* vw para ocupar a largura total da viewport */
    height: auto;
}

/* Código para a parte sobre o simulador financeiro */
#div-simulador {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 90px;
}

#subdiv-texto-simulador h3 {
    color: #21593B;
    font-size: 50px;
    margin-bottom: 60px;
}

#subdiv-texto-simulador {
    font-size: 30px;
    color: #21593B;
    margin-left: 80px;
    margin-top: 60px;
}

#subdiv-texto-simulador button {
    background-color: #21593B;
    color: white;
    width: 500px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 40px;
    font-size: 20px;
    margin-top: 60px;
    transition: all 0.3s;
    border: none;

}

#subdiv-texto-simulador button:hover {
    background-color: #00BF63;
    transform: scale(1.05);
    cursor: pointer;
}

#subdiv-img-simulador img {
    width: 350px;
    height: auto;
    margin-right: 100px;
    margin-top: 110px;

}


/* Código para a parte sobre dashboard */
#div-dashboard {
    background-color: #21593B;
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 150px;
}

#subdiv-imgs-dashboard img {
    border-radius: 20px;
    margin-bottom: 15px;
    margin-top: 60px;
    margin-left: 90px;
    width: 450px;
    height: auto;
}

#subdiv-texto-dashboard {
    font-size: 25px;
    color: white;
    margin-right: 65px;
    margin-top: -5px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: 0px;
    text-align: center;
}
#subdiv-texto-dashboard h3 {
    margin-left: 10px;
    font-size: 50px;
    
}
#subdiv-kpis {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    margin-top: 50px;
}
#subdiv-kpi-temp-atual-dashboard ,
#subdiv-kpi-umi-atual-dashboard  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#subdiv-kpi-temp-atual-dashboard img,
#subdiv-kpi-umi-atual-dashboard img {

    width: 600px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
}

/* Código para a parte de vantagens */
#div-vantagens-pai {
    margin-top: -60px; /*para remover o espaço em branco entre as divs*/
    background-color: #21593B;
}
 
#div-vantagens-pai h3 {
    font-size: 50px;
    color: #ffff;
    justify-self: center;
    padding-top: 90px;

}

#div-vantagens-filho {
    display: flex;
    flex: 1;
    gap: 85px;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 50px;
    margin-left: 80px;
    margin-right: 80px;
}

#subdiv-bd-vantagens, #subdiv-graficos-vantagens, #subdiv-alertas-vantagens {
    background-color: #ffff;
    width: 450px;
    height: 541px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;


}

#subdiv-bd-vantagens h3, #subdiv-graficos-vantagens h3, #subdiv-alertas-vantagens h3 {
    color: #21593B;
    font-size: 30px;
    margin-top: -15px;

}

/* Código para o footer */
footer{
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 100px;
    font-size: 15px;
}

#img-footer{
    width: 90px;
    height: 75px;
    margin-left: 20px;
    margin-top: 0px;
}

#img-home-footer{
    align-self: center;
}

footer ul{
    list-style: none;
}
footer li:hover{
    scale: 105%;
    text-decoration: underline;
    border-radius: 20px;
    font-weight: normal;
}

#marca-footer{
    font-size: 10px;
    justify-self: center;
}

footer a {
    font-weight: normal;
}
footer a:hover{
    font-weight: normal;
    color: #66a07a;
    border-radius: 20px;
}
