
/*Importando fonte Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Padronizando body*/
body{
    width: 100%;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;  
}
/*C贸digo para o header*/
header {
    width: 100%;
    height: 95px;
    margin: 0px;
    display: flex;
    background-color: white;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    
}
 header ul {
    list-style: none;
    display: flex;
}
header li {
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#div-img{
    width: 20%;
    justify-items: center;
}

#div-menu{
    width: 80%;
    justify-items: end;
    align-items: center;
    text-align: center;
    margin-right: 30px;
}
#li-login{
    font-weight: normal;
    color: white;
    background-color: #21593B;
    border-radius: 20px;
}
#li-login:hover{
    transform: scale(1.1);
    background-color: #00BF63;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* C贸digo para o banner abaixo do header */
#div-banner img{
      width: 99vw;   /* vw para ocupar a largura total da viewport */
      height: auto;   
    }

/* C贸digo para a parte sobre o simulador financeiro */
#div-simulador{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 90px;
}

#subdiv-texto-simulador h3{
    color: #21593B;
    font-size: 65px;
}

#subdiv-texto-simulador{
    font-size: 35px;
    color: #21593B;
    margin-left: 80px;
}
#subdiv-texto-simulador button{
    background-color: #21593B;
    color: white;
    width: 566px;
    height: 63px;
    font-family: 'Montserrat', sans-serif; 
    border-radius: 6px;
    font-size: 25px;
    margin-top: 50px;
}
#subdiv-img-simulador img{
    width: 450px;
    height: auto;
    margin-right: 60px;
    margin-top: 40px;
}

/* C贸digo para a parte sobre dashboard */
#div-dashboard{
    background-color: #21593B;
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 150px;
}

#subdiv-imgs-dashboard img{
    border-radius: 20px;
    margin-bottom: 15px;
    margin-top: 30px;
    margin-left: 30px;
    width: 600px;
    height: auto;
}

#subdiv-texto-dashboard{
    font-size: 35px;
    color: white;
    margin-right: 65px;
    margin-top: 85px;
}
#subdiv-texto-dashboard h3{
    margin-left: 10px;
    font-size: 65px;
}

#subdiv-kpis{
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 90px;
}
#subdiv-kpis-situacao-atual-dashboard img, #subdiv-kpis-status-dashboard img{
    width: 250px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 72px;
    margin-top: 90px;
}

