/*Importando fonte Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Padronizando body*/
body{
    width: 100%;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;  
}

.Janela{
    display: flex;
    width: 100%;
}

.headerLeft{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
}

.pageDashBoard{
    position: relative;
    top: 0;
    left: 20%;
    height: 100vh;
    width: 80%;
    background-color: #f4f7fe;
    overflow: auto;
}