
/*Importando fonte Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Padronizando body*/
body{
    width: 100%;
    margin: 0px;
    font-family: 'Montserrat', sans-serif; 
}

/*header{
    display: flex;
    width: 100%;
    height: 95%;
    background-color: white;
    align-items: center;
}

header ul{
    list-style: none;
    display: flex;
}

header li{
    font-style: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.div-img {
    width: 20%;

}

.div-nav {
    justify-items: end;
}*/

header {
    width: 100%;
    height: 95px;
    margin: 0px;
    display: flex;
    background-color: white;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
}

header li {
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#div-img{
    width: 20%;
    justify-items: center;
}

.div-nav{
    width: 80%;
    justify-items: end;
    align-items: center;
    text-align: center;
    margin-right: 30px;
}

#bt-login{
    font-weight: normal;
    color: white;
    background-color: #21593B;
    border-radius: 20px;
}

#bt-login:hover{
    transform: scale(1.1);
    background-color: #00BF63;
    text-decoration: none;
}

a{
    color: black;
    text-decoration: none;
}

a:nth-of-type(1):hover{
    text-decoration: underline;
}

a:nth-of-type(2):hover{
    text-decoration: underline;
}

a:nth-of-type(3):hover{
    text-decoration: underline;
}

a:nth-of-type(4):hover{
    text-decoration: underline;
}
