
/*Importando fonte Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Padronizando body*/
body{
    width: 100%;
    margin: 0px;
    font-family: 'Montserrat', sans-serif; 
}

header{
    display: flex;
    width: 100%;
    height: 95%;
    background-color: white;
    align-items: center;
}

header ul{
    list-style: none;
    display: flex;
}

header li{
    font-style: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.div_img {
    width: 20%;

}

.div_nav {
    width: 80%;
    justify-items: end;
    
}